@import "settings";

//loading
.app {
  text-align: center;
  color: $text--dark;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

html, body {
  font-family: $font-family;
  background: $bg--dark--top;
  font-size: $font-size--base;
  line-height: $line-height--base;
  font-weight: normal;

  p {
    font-size: $font-size--base;

    @include themed() {
      color: t($text);
    }
  }

  ::selection {
    background-color: $highlight-color;
    color: #fff;
  }

  @media (max-width: $screen-md-max) {
    font-size: $font-size--base--mobile;
    line-height: $font-size--base--mobile * 1.5;

    p {
      font-size: $font-size--base--mobile;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.theme {
  height: 100vh;
  width: 100%;
}

.base {
  @include themed() {
    color: t($text);
    background: t($bg);
  }
  padding-bottom: $spacer--default * 2;

  &:after {
    content: '';
    position: fixed;
    width: 100%;
    overflow-y: auto;
    min-height: 100vh;

    @include themed() {
      background: t($bg);
    }
  }

  @media (max-width: $screen-md-max) {
    //overflow-x: hidden;
  }
}

.logo {
  position: absolute;
  top: $padding-top;
  left: calc(50% - #{$logo-width / 2});;
  height: $logo-height;
  width: $logo-width;
  background-size: $logo-width $logo-height;
  background-repeat: no-repeat;
  background-position: top center;

  @include themed() {
    background-image: t($logo2);
  }
}

.badge {
  font-weight: normal;
  margin-right: 3px;
  font-size: $font-size--tags;
  padding: 4px 10px;
  text-transform: lowercase;
  border-radius: 15px;

  &--design {
    &.badge {
      @include themed() {
        //border-color: t($brand-blue);
        color: t($brand-blue);
        font-weight: bold;
      }
    }
  }

  &--dev {
    &.badge {
      @include themed() {
        //border-color: t($brand-red);
        color: t($brand-red);
        font-weight: bold;
      }
    }
  }

  @include themed() {
    background: t($card-bg);
    color: t($text);
    border: 1px solid t($border);
  }
}

.title {
  @extend %title-text;
  font-size: $font-size--page-title;
  line-height: $line-height--title;

  @include themed() {
    color: t($brand-blue);
  }
}

.body {
  padding-top: $navbar-height;

  @media (max-width: $screen-md-max) {
    padding: $navbar-height $spacer--small;
  }
}