@import "settings";

html, body, #app {
  font-family: $font-family;
  background: $bg--dark;
}

.base {
  @include themed($themes) {
    color: t($text);
    background: t($bg);
  }
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100%;
}

.header {
  &__links {
    display: flex;
    float: right;
  }
}