@import "settings";
$page-padding-mobile: 10px;

//loading
.app {
  text-align: center;
}

.loading {
  color: $text--dark;
  margin-top: calc(50vh - 20px);
  text-align: center;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

html, body {
  font-family: $font-family;
  background: $bg--dark--top;
  font-size: $font-size--base;
  line-height: $line-height--base;
  font-weight: normal;

  p {
    white-space: pre-line;
    font-size: $font-size--base;

    @include themed() {
      color: t($text);
    }
  }

  ::selection {
    background-color: $highlight-color;
    color: #fff;
  }

  @media (max-width: $screen-md-max) {
    font-size: $font-size--base--mobile;
    line-height: $font-size--base--mobile * 1.5;

    p {
      font-size: $font-size--base--mobile;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.theme {
  height: 100vh;
  width: 100%;
}

.base {
  @include themed() {
    color: t($text);
    background: t($bg);
  }

  &:after {
    content: '';
    position: fixed;
    width: 100%;
    overflow-y: auto;
    min-height: 100vh;

    @include themed() {
      background: t($bg);
    }
  }

  &__page {
    margin: 0 auto;
    min-height: 100vh;
    margin-bottom: ($footer-height * -1);
    padding: $spacer--default (120px) $spacer--large;

    &:after {
      content: "";
      display: block;
      height: $footer-height;
    }

    @media (max-width: $screen-md-max) {
      padding: $spacer--large;
    }

    @media (max-width: $screen-xs-max) {
      padding: 0 $spacer--medium $spacer--medium;
    }
  }
}

.text--blue {
  @include themed() {
    color: t($brand-blue);
  }
}

.text--red {
  @include themed() {
    color: t($brand-red);
  }
}

.badge {
  background: transparent;
  font-weight: normal;
  margin-right: 3px;
  font-size: $font-size--tags;
  padding: 0 6px 3px 0;
  text-transform: lowercase;
  border-radius: 15px;

  //&:before {
  //  content: '#';
  //}

  &--design {
    &.badge {
      @include themed() {
        color: t($brand-blue);
        @extend %title-text;
      }
    }
  }

  &--dev {
    &.badge {
      @include themed() {
        color: t($brand-red);
        @extend %title-text;
      }
    }
  }

  @include themed() {
    color: t($text-badge);
    //border: 1px solid t($border);
  }
}

.title {
  @extend %title-text;
  font-size: $font-size--page-title;
  line-height: $line-height--title;

  @include themed() {
    color: t($text-important);
  }
}

.body {
  display: flex;
  margin-top: -10px;
  overflow: hidden;
  word-break: break-word;
}

.body, .navbar.header {
  @media (max-width: $screen-md-max) {
    padding: $spacer--smallest 0;
  }
}

.spacer {
  display: block;
  width: 100%;

  &--default {
    height: $spacer--default;
  }

  &--smallest {
    height: $spacer--smallest;
  }

  &--small {
    height: $spacer--small;
  }
}

.img, .ril__image, .ril__imagePrev, .ril__imageNext {
  background-color: $bg--card--light;

  @include themed() {
    border: 1px solid t($border);
  }

  &--mobile-preview {
    margin: 0 auto;
    max-width: $screen-xs - 20px;
    border-color: transparent!important;
  }

  &--clickable {
    cursor: pointer;

    @extend %hover;
  }
}

.video-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;

  iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}

.tableau-viz {
  > div {
    background-color: $bg--card--light;

    @include themed() {
      border: 1px solid t($border);
    }

    iframe {
      width: 100%;
      min-width: 100%;
    }
  }
}

.footer {
  height: $footer-height;
  font-size: $font-size--tertiary;
  text-align: center;

  &__divider {
    margin: 0 10px;
  }

  &__social {
    .social-icon {
      margin: 0 0 0 $spacer--icon;
      &:hover {
        opacity: .9;
      }
    }
  }
}