//shortcuts
$bg: 'bg';
$card-bg: 'card-bg';
$card-border: 'card-border';
$text: 'text';
$text-important: 'text-important';
$text-secondary: 'text-secondary';
$text-badge: 'text-badge';
$link: 'link';
$hover: 'hover';
$logo: 'logo';
$logo2: 'logo-2';
$brand-blue: 'brand-blue';
$brand-red: 'brand-red';
$border: 'border';

//themes
$themes: (
        default: (
                logo: url("../images/brand/logo_vertical.svg"),
                logo-2: url("../images/brand/logo_horizontal.svg"),
                bg: $bg--light,
                card-bg: $bg--card--light,
                card-border: $card-border--light,
                text: $text--light,
                text-important: $text--imp--light,
                text-secondary: $text--2--light,
                text-badge: $text--3--light,
                link: $brand--blue--light,
                hover: $hover--light,
                brand-red: $brand--red--light,
                brand-blue: $brand--blue--light,
                border: $border--light
        ),
        dark: (
                logo: url("../images/brand/logo_vertical--invert.svg"),
                logo-2: url("../images/brand/logo_horizontal--invert.svg"),
                bg: $bg--dark--top,
                card-bg: $bg--card--dark,
                card-border: $card-border--dark,
                text: $text--dark,
                text-important: $text--imp--dark,
                text-secondary: $text--2--dark,
                text-badge: $text--3--dark,
                link: $brand--blue--dark,
                hover: $hover--dark,
                brand-red: $brand--red--dark,
                brand-blue: $brand--blue--dark,
                border: $border--dark
        ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}