.contact {
  $img-width: 330px;
  max-width: $content-width;
  margin: $page-padding-top auto 0;

  &__title {
    position: relative;
    text-align: left;
    width: $img-width;
    font-size: $font-size--page-title - 2px;
    float: right;
    z-index: 10;

    @extend %title-text;

    @media (min-width: $screen-sm-min) {
      margin-bottom: -185px;
    }
  }

  &__img {
    width: 100%;
    display: inline-block;
    z-index: 0;

    img {
      width: $img-width;
      max-width: $img-width;
      float: left;

      @media (max-width: $screen-xs-max) {
        float: none;
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  &__text {
    text-align: left;
    display: inline-block;
    margin-top: $spacer--medium;

    &__body {
      p {
        margin-bottom: $spacer--small;
      }
      &__social {
        &--bottom, &--top {
          margin-top: $spacer--small;
        }
      }
    }
  }

  .social-icon {
    margin-left: 8px;
  }

  @media (max-width: $screen-xs-max) {
    max-width: 100%;

    &__title {
      width: auto;
    }
  }
}

.social-container {
  background: #fff;
  border-radius: 50%;

  @extend %hover;

  .social-icon {
    margin-left: 8px;

    &:hover {
      opacity: .9;
    }
  }
}