.contact {
  $img-width: 400px;
  max-width: $content-width;
  margin: 45px auto 0;

  &__img {
    width: 100%;
    display: inline-block;

    img {
      width: $img-width;
      float: right;

      @media (max-width: $screen-xs-max) {
        float: none;
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  &__text {
    text-align: left;

    &__title {
      text-align: left;
      width: $img-width;

      @media (min-width: $screen-sm-min) {
        margin-top: -200px;
      }
    }
  }

  .social-icon {
    margin-right: 8px;
    margin-top: $spacer--small;
  }
}