.header {
  width: 100%;
  overflow-x: hidden;
  padding: 10px 30px;
  margin-bottom: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  z-index: 1;

  @include themed() {
    background: t($bg);
  }

  .logo {
    @media (max-width: $screen-xs) {
      left: $spacer--small;
    }
  }

  .container {
    width: 100%;
    padding: 0;
  }

  .navbar-toggle {
    margin-right: 0;
    margin-top: 0;

    @include themed() {
      border-color: t($border);

      span {
        background-color: t($text);
      }
    }
  }

  .navbar-collapse {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__utility, &__links {
    list-style: none;
  }

  &__utility {

  }

  &__links {}

  .header-link {
    margin: 0 15px;
    @extend .header-link;


    @media (max-width: $screen-xs-max) {
      margin: 0 12px $spacer--small 12px!important;
    }

    a {
      svg {
        font-size: 20px;
      }
    }
  }
}

.link {
  font-family: $font-family--title;
  display: flex;
  padding: 8px 0;
  border-radius: $rounded;
  text-decoration: none;
  text-transform: lowercase;
  line-height: 1;

  @include themed() {
    color: t($link);
  }

  a {
    padding: 0;
    background: transparent!important;
    text-decoration: none;

    @include themed() {
      color: t($link)!important;
    }
  }

  svg {
    margin-right: $spacer--icon;
    margin-left: $spacer--icon;
  }

  &:hover, &.active {
    text-decoration: underline;
    cursor: pointer;
    //
    //@include themed() {
    //  background: t($hover);
    //}
  }
}

.header-link {
  @include themed() {
    color: t($text);
  }

  &:hover, &.active {
    @include themed() {
      color: t($text-important);
    }

    a {
      @include themed() {
        color: t($text-important)!important;
      }
    }
  }

  a {
    background-color: transparent!important;
    @extend %nav-text;

    @include themed() {
      color: t($text)!important;
    }
  }

  //desktop nav
  @media (min-width: $screen-sm-min) {
    a {
      font-size: $font-size--tertiary;
      letter-spacing: 2px;
      padding: 8px 0;

      @include themed() {
        color: t($text)!important;
      }
    }

    &:hover, &.active {
      &:before {
        @include themed() {
          background-color: t($text-important);
        }
        content: '';
        height: 2px;
        position: absolute;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.3s ease-in-out;
        width: 100%;
      }
    }
  }

  //mobile nav
  @media (max-width: $screen-xs-max) {
    &:hover, &.active {
      a {
        @include themed() {
          background-color: t($hover)!important;
        }
      }

      &:before {
        @include themed() {
          background-color: t($text);
        }
        content: '';
        height: 100%;
        position: absolute;
        left: 3px;
        transform: translateX(-50%);
        transition: width 0.3s ease-in-out;
        width: 6px;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .header {
    padding-bottom: 0;
    margin-bottom: 0;

    .navbar-collapse {
      border-color: transparent;
      @include card-shadow;

      @include themed() {
        background: t($bg);
      }
    }
  }
}

.theme--default {
  .theme-toggle {
    @media (min-width: $screen-sm-min) {
      &:hover a {
        &:before {
          content: "Go Dark";
          margin-right: $spacer--icon;
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      a {
        margin-right: $spacer--icon;
        &:after {
          content: "Go Dark";
          margin-left: $spacer--icon;
        }
      }
    }
  }
}

.theme--dark {
  .theme-toggle {
    svg {
      color: #ffd475;
    }
    @media (min-width: $screen-sm-min) {
      &:hover a {
        &:before {
          content: "Go Light";
          margin-right: $spacer--icon;
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      a {
        margin-right: $spacer--icon;
        &:after {
          content: "Go Light";
          margin-left: $spacer--icon;
        }
      }
    }
  }
}