.portfolio-page {
  max-width: $content-width;
  margin: 45px auto 0;
  text-align: left;

  .header {
    padding: 0;
  }
}

.header {
  &__title {}

  &__tags {
    .badge {
      margin-top: $spacer--small;
    }
  }

  &__splash {
    margin-top: $spacer--default;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @media (max-width: $screen-md-max) {
      height: 300px;
    }
  }
}

.setup {
  p {
    font-size: $font-size--tertiary;
    line-height: $line-height--base;
  }
}

.section {
  margin-top: $spacer--default;
}

.subsection {
  margin-top: $spacer--small;
}

.section-header {
  font-size: $font-size--section-header;
  line-height: $line-height--title;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: $spacer--smallest;
  margin-top: 0;
}

.section-quote {
  font-size: $font-size--quote;
  line-height: $line-height--quote;

  @include themed($themes) {
    color: t($text-secondary);
  }
}

.section-img {
  @include themed($themes) {
    background: $bg--card--light;
    border: 1px solid t($border);
    padding: $spacer--small;
    margin: $spacer--small 0;
  }
}

.des {
  .header__title, .section-header {
    @include themed($themes) {
      color: t($brand-blue);
    }
  }
}

.dev {
  .header__title, .section-header {
    @include themed($themes) {
      color: t($brand-red);
    }
  }
}