@import "settings";

.portfolio {
  width: 100%;
  padding-top: 1px;

  @media (max-width: $screen-sm-max) {
    margin-top: 0;
  }

  @media (max-width: $screen-xs) {
    text-align: left;
  }

  &__intro {
    //max-width: 700px;
    //margin: 80px auto;
    //text-align: center;
    max-width: $navbar-max-width;
    text-align: left;
    margin: 0 auto;

    p {
      font-size: $font-size--secondary;
      line-height: 1.6;
      max-width: 475px;

      a {
        color: inherit;
        text-decoration: underline;

        @include themed() {
          color: t($text-important);
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .title {
    @extend %title-text;
    margin: 0 auto $spacer--small;
    line-height: .6;
    max-width: $navbar-max-width;

    &__des {
      font-size: $font-size--role;
      font-weight: $font-weight--semibold;
      @include themed() {
        color: t($brand-blue);
      }
    }

    &__dev {
      font-size: $font-size--role;
      font-weight: $font-weight--semibold;
      @include themed() {
        color: t($brand-red);
      }
    }
  }

  &__body {
    margin: $spacer--largest auto 0;
    max-width: $content-width--home;

    &__links {
      &__filter {
        font-size: $font-size--intro;
        font-family: $font-family;
        text-transform: lowercase;
        margin-right: $spacer--icon;

        @include themed() {
          color: t($text);
        }
      }

      .btn-toolbar {
        margin-left: 0;
      }

      .btn-toolbar .btn-group {
        @include themed() {
          border-color: t($border);

          * {
            border-color: t($border);
          }
        }

        label {
          @extend %nav-text;

          @include themed() {
            background: t($card-bg);
            background-color: t($card-bg);
            background-image: none;
            color: t($text);
            border-color: t($border);
          }

          &:first-of-type {
            &:before {
              content: 'work';
            }
          }
          &:last-of-type {
            &:before {
              content: 'play';
            }
          }

          &:before {
            @extend %nav-text;
            width: 100%;
            height: 100%;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            padding: 5px 0;

            @include themed() {
              background-color: t($card-bg);
              color: t($text);
            }
          }

          &.active {
            &:before {
              box-shadow: inset 0px 3px 11px rgba(0, 0, 0, 0.2);

              @include themed() {
                background-color: t($bg);
                color: t($text-important);
              }
            }
          }
        }
      }
    }

    &__items {
      &__nda {
        font-size: $font-size--intro;
      }
    }
  }
}

.item-preview {
  padding: $spacer--default/4 0 $spacer--default/2;
  text-align: center;
  margin: 8px;

  &__content {
    display: block;

    @include card-shadow;
    @extend %hover;

    @include themed() {
      background: t($card-bg);
      border: t($card-border);
    }

    &__img {
      height: 230px;
      background-size: cover;
      background-position: center center;
    }

    &--des {
      //background-color: $bg--blue;
    }

    &--dev {
      //background-color: $bg--red;
    }

    &__desc {
      padding: 10px 0;

      &__title {
        font-size: $font-size--item-preview--title - 2;
        @extend %title-text;

        &--des {
          @include themed() {
            color: t($brand-blue);
          }
        }

        &--dev {
          @include themed() {
            color: t($brand-red);
          }
        }
      }

      &__desc {

      }
    }
  }
}