.portfolio-page {
  max-width: $content-width;
  margin: 45px auto 0;
  text-align: left;

  .header {
    padding: 0;
  }
}

.header {
  &__title {}

  &__backlink {
    margin-bottom: $spacer--default;

    @media (max-width: $screen-xs-max) {
      margin-bottom: $spacer--small;
    }
  }

  &__tags {
    margin-top: $spacer--small;

    .badge {
      margin-right: $spacer--icon;
      margin-top: $spacer--icon;
    }
  }

  &__splash {
    margin-top: $spacer--default;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;

    @media (max-width: $screen-md-max) {
      height: 300px;
    }
  }
}

.setup {
  margin-top: -1 * ($spacer--small);
  p {
    font-family: monospace, $font-family;
    font-size: $font-size--tertiary;
    line-height: $line-height--base;
  }
}

.section {
  margin-top: $spacer--default;

  &--setup {
    margin-top: $spacer--small;
  }
}

.subsection {
  margin-top: $spacer--small;
}

.section-header {
  font-size: $font-size--section-header;
  font-family: $font-family--title;
  line-height: $line-height--title;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: $spacer--smallest;
  margin-top: 0;
}

.section-quote {
  font-size: $font-size--quote;
  line-height: $line-height--quote;
  font-weight: 500;
  font-family: $font-family--title;

  @include themed() {
    color: t($text-secondary);
  }
}

.section-img {
  @include themed() {
    background: $bg--card--light;
    border: 1px solid t($border);
    padding: $spacer--small;
    margin: $spacer--smallest 0 $spacer--small;
  }
}

.caption {
  font-size: $font-size--tertiary;
  font-style: italic;
  text-align: center;
  margin-top: $spacer--icon;
  margin-bottom: $spacer--small;
}

.des {
  .header__title, .section-header, .section-quote, .link {
    @include themed() {
      color: t($brand-blue);
    }
  }
}

.dev {
  .header__title, .section-header, .section-quote, .link {
    @include themed() {
      color: t($brand-red);
    }
  }
}

.backlink {
  &__top {
    float: right;

    @media (max-width: $screen-xs-max) {
      text-align: left;
      float: left;
      margin-top: $spacer--small;
    }
  }
}