@import "settings";

.portfolio {
  max-width: $content-width--home;
  margin: 60px auto 0;

  &__intro {
    max-width: 500px;
    margin: 0 auto;

    p {
      font-size: $font-size--intro;
    }
  }

  .logo {
    height: $logo-height;
  }

  .title {
    @extend %title-text;
    font-size: $font-size--role;
    margin: $spacer--default 0;
    line-height: $line-height--title;

    &__des {
      @include themed($themes) {
        color: t($brand-blue);
      }
    }

    &__dev {
      @include themed($themes) {
        color: t($brand-red);
      }
    }
  }

  &__body {
    &__links {
      text-align: left;
      margin-top: $spacer--default;

      .link {
        width: auto;
        display: inline-block;
      }
    }
  }
}

.item-preview {
  padding: $spacer--default/2 0 $spacer--default/2;

  &__content {
    display: block;

    @include card-shadow;
    @extend %hover;

    @include themed($themes) {
      background: t($card-bg);
    }
    &__img {
      height: 250px;
      background-size: cover;
      background-position: center center;
    }

    &--des {
      //background-color: $bg--blue;
    }

    &--dev {
      //background-color: $bg--red;
    }

    &__desc {
      padding: 10px 0;

      &__title {
        font-size: $font-size--item-preview--title;
        @extend %title-text;

        &--des {
          @include themed($themes) {
            color: t($brand-blue);
          }
        }

        &--dev {
          @include themed($themes) {
            color: t($brand-red);
          }
        }
      }

      &__desc {
      }
    }
  }
}