@import "settings";

.portfolio {
  max-width: $content-width--home;
  margin: 70px auto 0;
  text-align: center;

  @media (max-width: $screen-sm-max) {
    margin-top: 0;
  }

  @media (max-width: $screen-xs) {
    text-align: left;
  }

  &__intro {
    max-width: 500px;
    margin: 0 auto;

    p {
      font-size: $font-size--intro;
    }
  }

  .logo {
    height: 105px;
    z-index: 10;
    background-size: auto;

    @include themed() {
      background-image: t($logo);
      background-color: t($bg);
    }

    @media (max-width: $screen-sm-max) {
      display: none;
      background-color: transparent;
    }
  }

  .title {
    @extend %title-text;
    font-size: $font-size--role;
    margin: $spacer--small 0;
    line-height: $line-height--title;

    &__des {
      @include themed() {
        color: t($brand-blue);
      }
    }

    &__dev {
      @include themed() {
        color: t($brand-red);
      }
    }
  }

  &__body {
    &__links {
      text-align: left;
      margin-top: $spacer--default;

      .link {
        width: auto;
        display: inline-block;
      }
    }
  }
}

.item-preview {
  padding: $spacer--default/2 0 $spacer--default/2;
  text-align: center;

  &__content {
    display: block;

    @include card-shadow;
    @extend %hover;

    @include themed() {
      background: t($card-bg);
    }

    &__img {
      height: 300px;
      background-size: cover;
      background-position: center center;
    }

    &--des {
      //background-color: $bg--blue;
    }

    &--dev {
      //background-color: $bg--red;
    }

    &__desc {
      padding: 10px 0;

      &__title {
        font-size: $font-size--item-preview--title;
        @extend %title-text;

        &--des {
          @include themed() {
            color: t($brand-blue);
          }
        }

        &--dev {
          @include themed() {
            color: t($brand-red);
          }
        }
      }

      &__desc {
      }
    }
  }
}