//vars
$font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
$font-family--title: 'Montserrat-SemiBold', 'Montserrat', $font-family;

//layout
$content-width--home: 1000px;
$content-width: 700px;
$padding-top: 12px;
$logo-height: 35px;
$logo-width: 250px;
$navbar-height: 58px;
$navbar-max-width: 1600px;
$footer-height: 60px;
$page-padding-top: 45px;

//spacers
$spacer--largest: 120px;
$spacer--large: 65px;
$spacer--default: 50px;
$spacer--medium: ($spacer--default * .8);
$spacer--small: ($spacer--default / 2);
$spacer--smallest: ($spacer--small / 3);
$spacer--icon: 5px;

//text
$font-size--base: 20px;
$font-size--secondary: 18px;
$font-size--tertiary: 15px;
$font-size--intro: $font-size--secondary;
$font-size--base--mobile: $font-size--base - 2;
$font-size--role: $font-size--base;
$font-size--item-preview--title: $font-size--base;
$font-size--page-title: $font-size--base * 2;
$font-size--page-title--mobile: 26px;
$font-size--tags: $font-size--base - 4;
$font-size--section-header: $font-size--tertiary;
$font-size--quote: 36px;

$font-weight--regular: 400;
$font-weight--semibold: 500;
$font-weight--bold: 700;

$line-height--base: 1.6;
$line-height--title: 1.1;
$line-height--quote: 1.3;

%nav-text {
  font-family: $font-family--title;
  font-weight: $font-weight--bold;
  text-transform: capitalize;
  font-size: $font-size--tertiary;
}

%title-text {
  font-family: $font-family--title;
  font-weight: $font-weight--bold;
}

//breakpoints from Bootstrap
// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

//--colors
$brand--primary--light: #b45139;
$brand--primary--dark: lighten($brand--primary--light, 10%);
$brand--secondary--light: $brand--primary--light;
$brand--secondary--dark: $brand--primary--dark;
//$brand--secondary--light: #4376A3;
//$brand--secondary--dark: lighten($brand--secondary--light, 18%);
$bg--red: lighten($brand--primary--light, 40%);
$bg--blue: lighten($brand--secondary--light, 40%);
$bg--light: #F5F4F3;
$bg--dark--top: #333848;
$bg--dark--top: #272b38;
$bg--dark--bottom: #212631;
$bg--dark: linear-gradient(180deg, $bg--dark--top 0%, $bg--dark--bottom 100%);
$bg--card--light: lighten($bg--light, 1%);
$bg--card--dark: desaturate(lighten($bg--dark--top, 5%), 5%);
$card-border--light: 0px solid transparent;
$card-border--dark: 1px solid lighten($bg--card--dark, 12%);
$text--imp--light: #242D30;
$text--imp--dark: #E8E4E0;
$text--light: lighten($text--imp--light, 12%);
$text--dark: #cac3bc;
$text--2--light: $text--imp--light;
$text--2--dark: $text--imp--dark;
$text--3--light: lighten($text--light, 20%);
$text--3--dark: darken($text--dark, 20%);
$border--light: darken($bg--card--light, 10%);
$border--dark: lighten($bg--card--dark, 10%);
$hover--light: transparentize($brand--secondary--light, .9);
$hover--dark: transparentize(#fff, .9);

$highlight-color: transparentize($brand--secondary--light, .1);

//--other
$rounded: 3px;

//GRADIENTS
@mixin linear-gradient($from, $to) {
  background: $to;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
  background: -o-linear-gradient(top, $from 0%,$to 100%);
  background: linear-gradient(to bottom, $from 0%,$to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

//SHADOWS
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: $top $left $blur $color, $inset;
    -moz-box-shadow: $top $left $blur $color, $inset;
    box-shadow: $top $left $blur $color, $inset;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin card-shadow {
  @include box-shadow(0, 1px, 3px, rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24));
}

@mixin card-shadow--hover {
  @include box-shadow(0, 14px, 28px, rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22));
}

//HOVER
%hover {
  transition: transform .5s;
  cursor: pointer;

  &::after {
    @include card-shadow--hover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1.006, 1);

    &::after {
      opacity: 1;
    }
  }
}